
body{
	background-image: url("https://images.unsplash.com/photo-1568871391149-449702439177?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  	min-height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;

  	font-family: sans-serif;
}

.start{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem auto;
	width: 60%;
	border-radius: 5px;
	border: 2px solid rgba(135, 206, 235, 0.3);
	background-color: rgba(135, 206, 235, 0.7);
	color: white;
}
form{display: flex;
	background-color: rgba(0, 128, 0, 0.5);
	width: 80%;
	margin: auto;
	border-radius: 5px;
}

.form-content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	margin: 3rem auto;
}
label{
	color: white;
	font-size: 1.4rem;
}

button{
	color: red;
	background-color: rgba(255,255,0, 0.5);
}
.resize{
	width: 50vw;
	font-size:14pt;
	border-radius: 5px;
}
@media (max-width: 768px){
	.start{
		width: 98%;
	}

	form{
		width: 98%;
	}
	
	.form-content{
		width: 96%;
	}
	.resize{

	width:75vw;
	font-size:14pt;
	}
}
